<html>
<head>
	<title>Pax Nationatica Login/Registration</title>
	<style>
		body {
		}
	</style>
</head>

<body>

<div class='container'>
  <h1 class="title">Welcome To Pax Nationatica</h1>
  <p></p>
  <h3 class="main">What is Pax Nationatica?</h3>
  <h4> Want to know when a nation was at it's apex, it's golden age, it's time of glory? Well don't slog through Wikipedia,
      like a tragic fool, just look it up here and marvel at the ebb and flow of world history. Because who knows when <i>your</i>
      nation is due for a rise or fall...
  </h4>
  <br>

 <img class="centered-gif" src='https://media.giphy.com/media/xT9DPofNeoS0B0Nk7C/giphy.gif' title="Those Parthians could teach the Germans a thing or two about fighting two front wars" allowFullScreen></img>
 <br>
 <p class="label" >via GIPHY</p>
 <br>
 <br>

 <div class='roundcorners' style="width:65%;">
    <h4 style="display:block; "> Please Login or Register to enter</h4>
    <div class='loginreg'>
      <h3 class="main">Register</h3>
      <form class="loginreg_entry" action="/register" method="post">
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <!-- <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="user[name]">
        </div> -->
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="user[email]">
        </div>
        <div class="form-group">
          <label for="nation">What's your favorite nation:</label>
          <input type="nation" class="form-control" id="favorite" name="user[nation]">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="user[password]">
        </div>
        <div class="form-group">
          <label for="password_confirmation">Password Confirmation:</label>
          <input type="password" class="form-control" id="pwd" name="user[password_confirmation]">
        </div>

        <button type="submit" class="btn btn-default">Register</button>
      </form>
    </div>

    <div class="loginreg">
      <h3 class="main">Log In</h3>
      <form class="loginreg_entry" action="/login" method='post'>
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>

        <button type="submit" class="btn btn-default">Log In</button>
      </form>
    </div>
 </div>

</div>
</body>
</html>
