<div class='container'>
  <h1 class="title">Welcome To Pax Nationatica</h1>
  <p></p>
  <h3 class="main">About</h3>
  <h4> Want to know when a nation was at it's apex, it's golden age, it's time of glory? Well don't slog through Wikipedia,
      like a tragic fool, just look it up here and glory in the cyclic nature of world history. Because who knows when <i>your</i>
      nation is due for a rise or fall...
  </h4>
  <!-- <img class="centered-gif" src="giphy.gif" width="520" height="270" class="giphy-embed" title="Those Parthians could teach the Germans a thing or two about fighting two-front wars" allowFullScreen></img> -->
  <!-- <a><img src='https://media.giphy.com/media/xT9DPofNeoS0B0Nk7C/giphy.gif' onmouseover="somefunction();"></a> -->

 <img class="centered-gif" src='https://media.giphy.com/media/xT9DPofNeoS0B0Nk7C/giphy.gif' title="Those Parthians could teach the Germans a thing or two about fighting two-front wars" allowFullScreen></img>
 <br> 
 <p class="label" >via GIPHY</p>
 <div class='row'>

    <div class='col-md-3'>
      <h3 class="main">Register</h3>
      <form action="/register" method="post">
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <!-- <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="user[name]">
        </div> -->
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="user[email]">
        </div>
        <div class="form-group">
          <label for="nation">What's your favorite nation:</label>
          <input type="nation" class="form-control" id="favorite" name="user[nation]">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="user[password]">
        </div>
        <div class="form-group">
          <label for="password_confirmation">Password Confirmation:</label>
          <input type="password" class="form-control" id="pwd" name="user[password_confirmation]">
        </div>

        <button type="submit" class="btn btn-default">Register</button>
      </form>
    </div>

    <div class='col-md-3'>
      <h3 class="main">Log In</h3>
      <form action="/login" method='post'>
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>

        <button type="submit" class="btn btn-default">Log In</button>
      </form>
    </div>
</div>


<!-- <h1>Sign into Pax Nationatica</h1>
<br>
<form action="/login" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
	<h3>
		<label>Username:</label>
		<input type="text" name="username" id="username">
	</h3>
	<input type="submit" value="Sign In">
</form> -->
